.bgSlider{
	width: 900px;
	height: 450px;
	margin: 100px auto;
	position: relative;
}

.firstRow{
	width: 900px;
	height: 450px;
	position: absolute;
	top:0px;
	left:0px;

}
.secondRow{
	width: 900px;
	height: 450px;
	position: absolute;
	top:0;
	left: 0px;
}
.bgSlider div>div{
	width: 200px;
	height: 200px;
	margin: 5px;
	overflow: hidden;
	position: absolute;
}
.bgSlider div img:hover{
	opacity: 1
}
span{
	padding: 10px;
	background: grey;
	border-radius: 100%;
	position: absolute;
	right:10px;
	cursor: pointer;
}
.up{
	top:150px;}
.down{
	top:200px;
}